{% from 'macros.html' import menu %}
{% from 'macros.html' import search_bar %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Aplicação para selecionar recursos para visualização no GraphDB">
        <meta name="author" content="Caio Viktor Avila">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.0/css/all.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/templatemo-style.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/owl.css')}}">


        <script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.5.1.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/d3.js')}}"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <script>
            const page= "{{page}}";
            const id= "{{id}}";
        
            
            function last(){
                var next_page = parseInt(page) - 1;
                next_page = next_page.toString();
                let new_url = "/list_itens_saved/"+id+"/"+next_page;
                window.location.href = new_url;
            }
            $(document).keyup(function(event){
                if(event.which === 13){
                    var next_page = $("#page")[0].value;
                    let new_url = "/list_itens_saved/"+id+"/"+next_page;
                window.location.href = new_url;
                }
            })

            function next(){
                var next_page = parseInt(page) + 1;
                next_page = next_page.toString();
                let new_url = "/list_itens_saved/"+id+"/"+next_page;
                window.location.href = new_url;
            }
        </script>

        <title>
            Saved Query {{(id|int)+1}}
        </title>
    </head>
    <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Main -->
            <div id="main">
                <div class="inner">
                    <!-- Header -->
                    <header id="header">
                        <div class="logo">
                        </div>
                    </header>
                    <div id="nav-bar">
                        <a href="{{url_for('list_saved')}}"><i class="fa-solid fa-heart-circle-check"></i> Saved Queries</a> / <a href="{{url_for('resources',page=0,id=id)}}"><i class="fa-solid fa-table-list"></i> Saved Query {{(id|int)+1}}</a>
                    </div>
                    <div id="content">
                        

                        <div id="search_bar" class="alt">
                            <h3><i class="fa-regular fa-rectangle-list"></i> Query Filters</h3>
                            <form method="get" action="0#">
                                <table>

                                
                              {%for tuple in item['filters_vars']%}   
                                <tr>
                                    <div id="filter_{{tuple[0]}}">
                                        <td><label for="{{tuple[0]}}">{{tuple[0]}}:</label></td>
                                        <td>
                                            {%if tuple[1] == "numeric"%}
                                                <input type="number" placeholder="minimum limit" name="{{tuple[0]}}_min" id="filter_{{tuple[0]}}_min" {%if filters[tuple[0]+"_min"] != None and filters[tuple[0]+"_min"] != 'None' and filters[tuple[0]+"_min"] != '' %}value = "{{filters[tuple[0]+'_min']}}"{%endif%}> To <input type="number" placeholder="maximum limit" name="{{tuple[0]}}_max" id="filter_{{tuple[0]}}_max" {%if filters[tuple[0]+"_max"] != None and filters[tuple[0]+"_max"] != 'None' and filters[tuple[0]+"_max"] != '' %}value = "{{filters[tuple[0]+'_max']}}"{%endif%}>
                                            {%elif tuple[1] == "date"%}
                                            <input type="date" name="{{tuple[0]}}_min" id="filter_{{tuple[0]}}_min" {%if filters[tuple[0]+"_min"] != None and filters[tuple[0]+"_min"] != 'None' and filters[tuple[0]+"_min"] != '' %}value = "{{filters[tuple[0]+'_min']}}"{%endif%}> To <input type="date" name="{{tuple[0]}}_max" id="filter_{{tuple[0]}}_max" {%if filters[tuple[0]+"_max"] != None and filters[tuple[0]+"_max"] != 'None' and filters[tuple[0]+"_max"] != '' %}value = "{{filters[tuple[0]+'_max']}}"{%endif%}>
                                            {%else%}
                                            <input type="text" name="{{tuple[0]}}" id="filter_{{tuple[0]}}" placeholder="Filter..." {%if filters[tuple[0]] != None and filters[tuple[0]] != 'None' and filters[tuple[0]] != '' %}value = "{{filters[tuple[0]]}}"{%endif%} />
                                            {%endif%}
                                        </td>
                                    </div>
                                </tr>                        
                                {%endfor%}
                            </table>
                              <input id="bt_search" type="submit" value="Filter"/><br/>
                            </form>
                          </div>
                    
                        <section class="tables">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-heading">
                                            <div class="header-table">
                                                <i class="fa-solid fa-table-list"></i> <b>Saved Query Results {{(id|int)+1}} Page {{page}}</b>
                                            </div>
                                        </div>
                                        <img src="{{url_for('static',filename='images/giphy.gif')}}" id="loading"/>
                                        <table id="elements" class="table table-striped table-bordered">
                                            <thead></thead>
                                            <tbody></tbody>
                                        </table>
                                        <center>
                                            <div id="controlers">
                                                <input id="last" {%if (page|int) <= 0%} disabled {%endif%} name="last" type="Button" value="Previous" onclick="javascript:last()" />
                                                <input id="page" name="page" value="{{page}}" />
                                                <input id="next" name="next"  type="button" value="Next" onclick="javascript:next()"/>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        {{menu()}}
            
    </body>
    <script>
        var filters = "?";
        {%for filter in filters%}
            filters+="{{filter}}={{filters[filter]}}&"
        {%endfor%}
    </script>
    <script type="text/javascript" src="{{url_for('static',filename='js/list_itens_saved.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/browser.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/breakpoints.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/transition.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/owl-carousel.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/custom.js')}}"></script>
</html>